/* Full background farmland */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef")
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glassmorphism card */
.overlay-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: white;
}

/* Title */
.title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

/* Potato image */
.potato-img {
  width: 120px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* File input */
.file-input {
  margin-bottom: 20px;
  color: white;
}

/* Button */
.predict-btn {
  background: linear-gradient(45deg, #2e7d32, #66bb6a);
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}

.predict-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
.preview-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
}

.preview-img:hover {
  transform: scale(1.05);
}
/* Result box */
.result {
  margin-top: 20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}